<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather Data API</title>
</head>
<body>
    <h1>Weather Data API</h1>
<p>URL format: http://127.0.0.1:5000/api/station/date</p>
<p>URL Example for one station for one date: http://127.0.0.1:5000/api/10/1988-12-04</p>
<p>URL Example for one station for all dates: http://127.0.0.1:5000/api/10</p><
<p>URL Example for station for one year: http://127.0.0.1:5000/api/year/10/1988</p>
<div>
    {{data | safe}}
</div>
</body>
</html>